services:
  service-bus:
    hostname: servicebus
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest
    configs:
      - source: servicebus
        target: /ServiceBus_Emulator/ConfigFiles/Config.json
    environment:
      SQL_SERVER: servicebus-db
      MSSQL_SA_PASSWORD: "MasterPassw0rd"  # Password should be same as what is set for SQL Edge
      ACCEPT_EULA: Y
      SQL_WAIT_INTERVAL: 1 # Disable wait as we perform a health check
    depends_on:
      servicebus-db:
        condition: service_healthy
  
  servicebus-db:
    image: "mcr.microsoft.com/mssql/server:2022-latest"
    environment:
      MSSQL_PID: 'Express'
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: "MasterPassw0rd"
    healthcheck:
      test: ["CMD", "/opt/mssql-tools18/bin/sqlcmd", "-b", "-C", "-S", "localhost", "-U", "sa", "-P", "MasterPassw0rd", '-Q', "SELECT 'mssql is ready'", "-h", "-1"]
      interval: 5s
      timeout: 5s
      retries: 12
  
  servicebus-health:
    image: quay.io/curl/curl-base
    entrypoint: ["sleep", "infinity"]
    healthcheck:
      test: ["CMD", "curl", "-f", "http://servicebus:5300/health"]
      interval: 5s
      timeout: 5s
      retries: 12

  servicebus-api:
    hostname: servicebus
    build:
      context: ./dev/asbapi
    configs:
      - source: servicebus
        target: /config/config.json

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite:3.35.0
    healthcheck:
      test: ["CMD", "nc", "-z", "127.0.0.1", "10000"]
      interval: 1s
      retries: 30

  azurite-init:
    build:
      context: ./dev/management
    configs:
      - source: connectors
        target: /import/connectors.json
    depends_on:
      azurite:
        condition: service_healthy
    environment:
      # Use the full Azurite connection string as we need to change the host
      "StorageConnection": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;TableEndpoint=http://azurite:10002/devstoreaccount1;"
      "StoragePrefix": "superbus-dev"

  signalr:
    build:
      context: ./dev/asrs
    configs:
      - source: signalr
        target: /emulator/settings.json
