include:
  - ../../docker-compose.yaml

services:
  basicidentityprovider:
    build:
      context: ../../src/workers/src/SuperBus.BasicIdentityProvider
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/api/.well-known/jwks.json"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      "BasicIdentityProvider__Authority": "http://basicidentityprovider"
      "BasicIdentityProvider__Audience": "http://superbus-worker/api"
      "AzureWebJobsStorage": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;"
      "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
      "AzureWebJobsSecretStorageType": memory

  connector-init:
    build:
      context: ../../dev/management
    restart: "no"
    depends_on:
      basicidentityprovider:
        condition: service_healthy
    configs:
      - source: connectors
        target: /import/connectors.json

  cloud:
    depends_on:
      superbus-worker:
        condition: service_healthy
    build:
      context: ./SuperBus.Samples.Chat.Cloud
    environment:
      "SuperBus__Cloud__Servicebus__Connection": "Endpoint=sb://servicebus;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;"
      "SuperBus__Cloud__ServiceBus__Queues__Cloud": "superbus-sample-chat-cloud"
      "SuperBus__Cloud__ServiceBus__Queues__Connectors": "superbus-sample-chat-connectors"
      "SuperBus__Cloud__ServiceBus__Queues__Error": "superbus-sample-chat-error"
      "SuperBus__Cloud__ServiceBus__Queues__Events": "superbus-sample-chat-events"

  superbus-worker:
    build:
      context: ../../src/workers/src/SuperBus.SuperBusWorker
    depends_on:
      servicebus-health:
        condition: service_healthy
      connector-init:
        condition: service_completed_successfully
      storage-init:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:80/admin/host/status?code=master-secret"]
      interval: 5s
      timeout: 5s
      retries: 5
    configs:
      - source: azfunctions-secrets
        target: /azure-functions-host/Secrets/host.json
    environment:
      # Use the full Azurite connection string as we need to change the host
      "AzureWebJobsStorage": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;"
      "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated"
      "AzureWebJobsSecretStorageType": files
      "SuperBus__Worker__Storage__Connection": "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1;"
      "SuperBus__Worker__Storage__Prefix": "superbus-sample-chat"
      "SuperBus__Worker__ServiceBus__Connection": "Endpoint=sb://servicebus;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=SAS_KEY_VALUE;UseDevelopmentEmulator=true;"
      "SuperBus__Worker__ServiceBus__Queues__Cloud": "superbus-sample-chat-cloud"
      "SuperBus__Worker__ServiceBus__Queues__Connectors": "superbus-sample-chat-connectors"
      "SuperBus__Worker__ServiceBus__Queues__Error": "superbus-sample-chat-error"
      "SuperBus__Worker__ServiceBus__Queues__Events": "superbus-sample-chat-events"
      "SuperBus__Worker__SignalR__Connection": "Endpoint=http://signalr;Port=8888;AccessKey=ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789ABCDEFGH;Version=1.0;"
      "SuperBus__Worker__OpenId__Authority": "http://basicidentityprovider"
      "SuperBus__Worker__OpenId__JwksUri": "http://basicidentityprovider/api/.well-known/jwks.json"
      "SuperBus__Worker__OpenId__Audience": "http://superbus-worker/api"
      "SuperBus__Worker__OpenId__RequiredScope": "superbus"

  # Tenant A - Connector A (Browser: http://localhost:5000)
  tenant-a-connector-a:
    depends_on:
      superbus-worker:
        condition: service_healthy
    build:
      context: ./SuperBus.Samples.Chat.Connector
    ports:
      - "5000:8080"
    environment:
      "SuperBus__Connector__Endpoint": "http://superbus-worker/api"
      "SuperBus__Connector__ConnectorId": "connector-a"
      "SuperBus__Connector__TenantId": "tenant-a"
      "SuperBus__Connector__Authentication__Authority": "http://basicidentityprovider"
      "SuperBus__Connector__Authentication__TokenEndpoint": "http://basicidentityprovider/api/tenant-a/token"
      "SuperBus__Connector__Authentication__Scope": "superbus"
      "SuperBus__Connector__Authentication__SigningKey": "MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgGZfhjhITuJz0BkkS3yYezLelZOm1Lhma4/owsRcj6kuhRANCAAQNJ+AiJ4ZpVMXtEtGijQcf/FSODdPyMevVGTF5EGrDLuUAYEbpjg+eWRrSqpUBGvHdNW4weGZFJCe7Up8WAqe4"
      "SuperBus__Connector__Queues__Cloud": "superbus-sample-chat-cloud"
      "SuperBus__Connector__Queues__Connectors": "superbus-sample-chat-connectors"
      "SuperBus__Connector__Queues__Error": "superbus-sample-chat-error"

  # Tenant A - Connector B (Browser: http://localhost:5001)
  tenant-a-connector-b:
    depends_on:
      superbus-worker:
        condition: service_healthy
    build:
      context: ./SuperBus.Samples.Chat.Connector
    ports:
      - "5001:8080"
    environment:
      "SuperBus__Connector__Endpoint": "http://superbus-worker/api"
      "SuperBus__Connector__ConnectorId": "connector-b"
      "SuperBus__Connector__TenantId": "tenant-a"
      "SuperBus__Connector__Authentication__Authority": "http://basicidentityprovider"
      "SuperBus__Connector__Authentication__TokenEndpoint": "http://basicidentityprovider/api/tenant-a/token"
      "SuperBus__Connector__Authentication__Scope": "superbus"
      "SuperBus__Connector__Authentication__SigningKey": "MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgwER5qy7vlJWRS8mYGVq9Xs1SiCsFEnAMZTkteXuRZyOhRANCAAQvfIiC9wb0LKvO/UpTSmv9HGt/g3rgwQONgtd4hi6mcVd9uECctHJvpIY0uWdKb1gTwchHUlB2Ll9jnuZL74+Q"
      "SuperBus__Connector__Queues__Cloud": "superbus-sample-chat-cloud"
      "SuperBus__Connector__Queues__Connectors": "superbus-sample-chat-connectors"
      "SuperBus__Connector__Queues__Error": "superbus-sample-chat-error"

  # Tenant B - Connector A (Browser: http://localhost:5002)
  tenant-b-connector-a:
    depends_on:
      superbus-worker:
        condition: service_healthy
    build:
      context: ./SuperBus.Samples.Chat.Connector
    ports:
      - "5002:8080"
    environment:
      "SuperBus__Connector__Endpoint": "http://superbus-worker/api"
      "SuperBus__Connector__ConnectorId": "connector-a"
      "SuperBus__Connector__TenantId": "tenant-b"
      "SuperBus__Connector__Authentication__Authority": "http://basicidentityprovider"
      "SuperBus__Connector__Authentication__TokenEndpoint": "http://basicidentityprovider/api/tenant-b/token"
      "SuperBus__Connector__Authentication__Scope": "superbus"
      "SuperBus__Connector__Authentication__SigningKey": "MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgBhzsfVnKvBZjbyYxwXIIwgWqTXci9I+VIHSkO7xG7zChRANCAARy7cvTpFvs6gzm9rqj6o0+0fqoI24ahQBZOmRhQCNkLPNbzM5BJegdjlSTo4b35bl/UlU61T9IoSCBK/lBBPH0"
      "SuperBus__Connector__Queues__Cloud": "superbus-sample-chat-cloud"
      "SuperBus__Connector__Queues__Connectors": "superbus-sample-chat-connectors"
      "SuperBus__Connector__Queues__Error": "superbus-sample-chat-error"

configs:
  azfunctions-secrets:
    content: |
      {
        "masterKey": {
          "name": "master",
          "value": "master-secret",
          "encrypted": false
        },
        "functionKeys": [
          {
            "name": "default",
            "value": "default-secret",
            "encrypted": false
          }
        ],
        "systemKeys": [
          {
            "name": "signalr_extension",
            "value": "signalr-secret",
            "encrypted": false
          }
        ],
      }
