<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://superbusworker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/71f43554-0c64-48c9-8785-18e06c129289/resourceGroups/saphub_test/providers/Microsoft.Web/sites/SuperBusWorker</ResourceId>
    <UserName>$SuperBusWorker</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://superbusworker.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>