@page "/"
@implements IAsyncDisposable
@using Dbosoft.Bote.Samples.Chat.Connector.Services
@using Dbosoft.Bote.Samples.Chat.Messages
@using global::Rebus.Bus
@rendermode InteractiveServer
@inject IChatService ChatService
@inject IBus Bus
@inject IJSRuntime JS

<PageTitle>Chat</PageTitle>

<div class="chatlog" @ref="_chatLog">
    @foreach (var chatMessage in _chatMessages)
    {
        <div>
            <span>@chatMessage.Author</span>: <span>@chatMessage.Message</span>
        </div>
    }
</div>

<div class="chatinput">
    <input type="text" class="chatmessage" @bind="TextInput" @onkeyup="OnKeyUp" />
    <button class="btn btn-primary" @onclick="SendMessage">Send</button>
</div>

 <script src="Components/Pages/Home.razor.js"></script>
@code {

    private readonly List<ChatResponse> _chatMessages = new();
    private string? TextInput { get; set; }

    private IJSObjectReference? _module;
    private ElementReference _chatLog;

    protected override void OnInitialized()
    {
        ChatService.OnMessageReceived += OnMessageReceived;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        _module = await JS.InvokeAsync<IJSObjectReference>(
            "import",
            "./Components/Pages/Home.razor.js");
    }

    private async Task OnMessageReceived(ChatResponse chatMessage)
    {
        _chatMessages.Add(chatMessage);
        await InvokeAsync(StateHasChanged);
        if (_module is null)
            return;
        await _module.InvokeVoidAsync("scrollToEnd", _chatLog);
    }

    private async Task OnKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
    }

    private async Task SendMessage()
    {
        if (string.IsNullOrEmpty(TextInput))
            return;

        var message = TextInput;
        TextInput = "";

        await Bus.Send(new ChatRequest
        {
            Id = Guid.NewGuid(),
            Message = message,
        });

        _chatMessages.Add(new ChatResponse
        {
            Id = Guid.NewGuid(),
            Author = "Me",
            Message = message,
        });

        await InvokeAsync(StateHasChanged);
    }

    public async ValueTask DisposeAsync()
    {
        ChatService.OnMessageReceived -= OnMessageReceived;
        if (_module is null)
            return;

        await _module.DisposeAsync();
    }
}
